<div class="loja">
    <div class="banner">
        <div class="about">
            <h1>Quem somos?</h1>
            <mdb-badge class="z-depth-0" pill="true" danger="true" style="font-size: 12px; font-weight: normal; margin: 8px 0;">
                {{ negocio.nomeFantasia }}
            </mdb-badge>
            <p>{{ negocio.descricao }}</p>
            <h2>Onde estamos?</h2>
            <p>
                Rua {{ negocio.usuario.endereco.rua }}, 
                nº {{ negocio.usuario.endereco.numero }}, 
                {{ negocio.usuario.endereco.cep | cep }}, 
                {{ negocio.usuario.endereco.bairro }}, 
                {{ negocio.usuario.endereco.municipio }}
            </p>
            <h2>Fale conosco</h2>
            <p>{{ negocio.usuario.telefone | telefone }}</p>
            <p>{{ negocio.usuario.email }}</p>
        </div>
        <div class="logotipo">
            <img src="../../../../assets/svg/lending.svg" alt="Logotipo">
        </div>
    </div>
    <div class="products">
        <router-outlet></router-outlet>
    </div>
</div>